body {
    text-align: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6)), url('/images/background.jpg');
    font-family: 'PT Mono', monospace;
}

#board {
    background-color: rgb(100, 50, 90);
    display: inline-block;
    border: pink 3px solid;
    padding: 6px;
    height: 810px;
    width: 810px;
}

.player-1 {
    width: 300px;
    height: 400px;
    background-color: black;
    top: 300px;
    position: absolute;
    right: 14px;
    border: 3px solid green;
}

.playerImage {
    max-width: 60%;
    max-height: 60%;
}

.player1icon {
    background-image: url('/images/player1icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.player2icon {
    background-image: url('/images/player2icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.player-2 {
    width: 300px;
    height: 400px;
    background-color: black;
    top: 300px;
    position: absolute;
    border: 3px solid green;
}

.player1header {
    position: relative;
    bottom: 50px;
}

.player2header {
    position: relative;
    bottom: 50px;
}

.weaponPic {
    width: 50px;
    height: 50px;
    position: relative;
}

.weaponDisplayFix {
    position: relative;
    bottom: 33px;
}

.col1 {
    height: 60px;
    width: 60px;
    background-color: black;
    border: 1px solid red;
    display: inline-block;
    margin: 3px;
}

.row1 {
    height: 66px;
}

.hover {
    background-color: rgba(0, 0, 200, 0.3);
}

.obstacleCell {
    background-color: brown;
}

.viable {
    background-color: rgba(0, 0, 0, 0.6);
}
